grant {
    permission java.io.FilePermission "<<ALL FILES>>", "read,write,execute,delete,readlink";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.lang.RuntimePermission "loadLibrary.*";
    permission java.lang.RuntimePermission "createSecurityManager";
    permission java.lang.RuntimePermission "setContextClassLoader";
};
